<div class="signers-wrapper">


<h1 class="signers-title"><span>People who signed the petition:</span></h1>
<div class="list-wrapper">


<div class="signers-list">
<h2 style="grid-area: 1 / span 2"><a href="{{petition}} ">{{notsigned}}</a></h2>

{{#list}}
<div class="signer-element">
<p><b style="
    background: yellow;
">{{first}} {{last}},</b> {{age}} <a href="/signers/{{city}}"
>{{city}}</a> <a href="{{url}}" target='_blank'>{{url}}</a></p>
</div>
{{/list}}
</div>
</div>
</div>
